<!--The content below is only a placeholder and can be replaced.-->

<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/areas" routerLinkActive="active">Areas</a>
  <a routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
  <a routerLink="/integrantes" routerLinkActive="active">Integrantes</a>
  <a routerLink="/eventos" routerLinkActive="active">Eventos</a>
  <a routerLink="/acercaDe" routerLinkActive="active">Acerca de</a>
</nav>

<app-button></app-button>

<router-outlet></router-outlet>
